.Shop-conteiner{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 10px;
    padding: 10px;
}
.product-conteiner{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 10px;
}
.Calculate-part{
    padding: 20px;
    text-align: center;
}